/* Icon Colors */
.icon-primary { background-color: rgba($primary-blue-rgb, 0.1); color: $primary-blue; }
.icon-blue { background-color: rgba($primary-blue-rgb, 0.1); color: $primary-blue; }
.icon-green { background-color: rgba($primary-green-rgb, 0.1); color: $primary-green; }
.icon-orange { background-color: rgba($primary-orange-rgb, 0.1); color: $primary-orange; }
.icon-red { background-color: rgba($primary-red-rgb, 0.1); color: $primary-red; }
.icon-purple { background-color: rgba($primary-purple-rgb, 0.1); color: $primary-purple; }
.icon-teal { background-color: rgba($primary-teal-rgb, 0.1); color: $primary-teal; }
.icon-indigo { background-color: rgba($primary-indigo-rgb, 0.1); color: $primary-indigo; }
.icon-pink { background-color: rgba($primary-pink-rgb, 0.1); color: $primary-pink; }


// configuração padrão - apagar depois
// .icon-blue { background-color: #e3f2fd; color: #1976d2; }
// .icon-green { background-color: #e8f5e8; color: #388e3c; }
// .icon-orange { background-color: #fff3e0; color: #f57c00; }
// .icon-red { background-color: #ffebee; color: #d32f2f; }
// .icon-purple { background-color: #f3e5f5; color: #7b1fa2; }
// .icon-teal { background-color: #e0f2f1; color: #00796b; }
// .icon-indigo { background-color: #e8eaf6; color: #3f51b5; }
// .icon-pink { background-color: #fce4ec; color: #c2185b; }