main {
  flex: 1;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  // padding: 0 $spacing-4;
  padding: 4px 6px;
}

.grid {
  display: grid;
  gap: $spacing-6;

  &.grid-1 {
    grid-template-columns: 1fr;
  }

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &.grid-3 {
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &.grid-4 {
    grid-template-columns: repeat(4, 1fr);

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.services-grid {
  @include grid-responsive(1, 2, 3);
  margin-bottom: $spacing-12;
}

.contact-grid {
  @include grid-responsive(1, 2, 4);
}
