.container {
  max-width: 1080px;
  margin: 0 auto;
  // padding: 0 $spacing-4;
  padding: 4px 6px;
}

.grid {
  display: grid;
  gap: $spacing-6;

  &.grid-1 {
    grid-template-columns: 1fr;
  }

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &.grid-3 {
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &.grid-4 {
    grid-template-columns: repeat(4, 1fr);

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.services-grid {
  @include grid-responsive(1, 2, 3);
  margin-bottom: $spacing-12;
}

.contact-grid {
  @include grid-responsive(1, 2, 4);
}




// ------------------------------------------------------------------------





.gridCardsMainPage {
  gap: 6px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  // lg
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  // md
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}

.espacoDoIcone_CardsMainPage {
  width: 48px;
  height: 48px;
  background-color: $primary-blue;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}